<h1><%= @user.email %></h1>
<% if @user.authorizations.empty? && @user == current_user %>
  <div class="col-md-12">
    No linked accounts
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">No linked accounts</h4>
          </div>
          <div class="modal-body">
            Link an account to start using OkayFeed.<br><br>
            <div class="text-center">
              <%= link_to "Authorize with Twitter", "/auth/twitter", class: "btn btn-default btn-lg" %>
              <br><br>
              <%= link_to "Authorize with Facebook", "/auth/facebook", class: "btn btn-default btn-lg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="col-md-4">
    <div id="publish_notice" style="display: none;" class="alert alert-warning center-block">
      <a href="#" class="alert-link publish_notice_notification_link">
      </a>
    </div>
    <script type="text/javascript">
      $(function() {
        $('.publish_notice_notification_link').click(function() {
          $('#publish_notice').slideDown(500);
          $('#publish_notice').hide();
        return false;
        });
      });
    </script>
    <%= form_for @user, remote: true, url: publish_user_path(current_user), method: :post, html: { multipart: true, name: "publish_form" } do |f| %>
      <div class="form-group">
        <%= text_area_tag :content, nil, class: "form-control" %>
      </div>
      <% if @twitter %>
        <div class="checkbox">
            <%= check_box_tag 'provider[]', 'twitter', false, class: 'twitter_checkbox' %>
            <%= label_tag 'twitter' %>
            <div id="twitter_max_char" style="display: none;">
              You have <strong id="count"></strong> characters remaining
            </div>
        </div>
        <script type="text/javascript">
          $('.twitter_checkbox').attr('checked', false);
          $('.twitter_checkbox').click(function() {
            $('#twitter_max_char').toggle();
            if (this.checked == false) {
              $("input[type=submit]").removeAttr("disabled");
            }
            else {
              if ($('textarea').val().length > 140) {
                $("input[type=submit]").attr("disabled", "true");
              };
            };
          });

          maxCharacters = 140;
          $('#count').text(maxCharacters);
          $('textarea').bind('keyup keydown', function() {
            var count = $('#count');
            var characters = $(this).val().length;
            if (characters > maxCharacters) {
              count.addClass('over');
              $("input[type=submit]").attr("disabled", "true");
            }
            else {
              count.removeClass('over');
              $("input[type=submit]").removeAttr("disabled");
            };
            count.text(maxCharacters - characters);
          });
        </script>
      <% end %>
      <% if @facebook %>
        <div class="checkbox">
            <%= check_box_tag 'provider[]', 'facebook' %>
            <%= label_tag 'facebook' %>
        </div>
      <% end %>
      <div class="btn btn-default btn-file">
        <%= label_tag 'image', 'Include image' %>
        <%= file_field_tag 'image' %>
      </div>
      <br><br>
      <%= f.submit "Publish", class: "btn btn-default", id: "publish" %><br><br>
    <% end %>
  </div>

  <div class="col-md-8">
    <div id="new_posts_notification" style="display:none;" class="alert alert-info center-block">
      <a href="#" class="alert-link new_post_notification_link">
        Okay! <span id="new_posts_message"><span id="new_posts_count">0</span></span>.
      </a>
    </div>
    <script type="text/javascript">
       $(function() {
           $('.new_post_notification_link').click(function() {
               $('.new_post').slideDown(500);
               $('#new_posts_notification').hide();
               $('#new_posts_count').text('0');
               return false;
           });
       });
    </script>

    <%= render partial: 'posts', object: @posts %>

  </div>
  <script type="text/javascript">
    $(document).ready(function () {
          setInterval(function() {
              $.ajax({
                url: "/users/<%= @user.id%>/background_refresh",
                type: "POST"
              })
            }, 20000);

        });
  </script>
<% end %>

<% if current_user == @user %>
  <% if @user.authorizations.any? %>
    <h3>Authorized accounts</h3>
      <ul>
        <% @user.authorizations.each do |acct| %>
          <li><%= acct.provider.capitalize + ": " + acct.name %></li>
        <% end %>
      </ul>
  <% end %>
<% end %>

<% if current_user == @user %>
  <%= subscribe_to "/messages/#{@user.id}" %>
<% end %>