<h1><%= @user.email %></h1>
<% if @user.authorizations.empty? && @user == current_user %>
  <div class="col-md-12">
    No linked accounts
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">No linked accounts</h4>
          </div>
          <div class="modal-body">
            Link an account to start using OkayFeed.<br><br>
            <div class="text-center">
              <%= link_to "Authorize with Twitter", "/auth/twitter", class: "btn btn-default btn-lg" %>
              <br><br>
              <%= link_to "Authorize with Facebook", "/auth/facebook", class: "btn btn-default btn-lg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="col-md-4">
    <%= form_for @user, url: publish_user_path(current_user), method: :post, :html => { :multipart => true }, class: "form" do |f| %>
      <div class="form-group">
        <%= text_area_tag :content, nil, class: "form-control" %>
      </div>
      <% if @twitter %>
        <div class="checkbox">
            <%= check_box_tag 'provider[]', 'twitter' %>
            <%= label_tag 'twitter' %>
        </div>
      <% end %>
      <% if @facebook %>
        <div class="checkbox">
            <%= check_box_tag 'provider[]', 'facebook' %>
            <%= label_tag 'facebook' %>
        </div>
      <% end %>
      <div class="btn btn-default btn-file">
        <%= label_tag 'image', 'Include image' %>
        <%= file_field_tag 'image' %>
      </div>
      <br><br>
      <%= f.submit "Publish", class: "btn btn-default" %><br><br>
    <% end %>
  </div>

  <div class="col-md-8">
    <div id="new_posts_notification" style="display:none;" class="alert alert-info alert-dismissable center-block">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <a href="#" class="alert-link">
        Okay! <span id="new_posts_message"><span id="new_posts_count">0</span></span>.
      </a>
    </div>
    <script type="text/javascript">
       $(function() {
           $('.alert-link').click(function() {
               $('.new_post').slideDown(500);
               $('#new_posts_notification').hide();
               return false;
           });
       });
    </script>

    <%= render partial: 'posts', object: @posts %>

  </div>
  <script type="text/javascript">
    $(document).ready(function () {
          setInterval(function() {
              $.ajax({
                url: "/users/<%= @user.id%>/background_refresh",
                type: "POST"
              })
            }, 20000);

        });
  </script>
<% end %>

<% if current_user == @user %>
  <% if @user.authorizations.any? %>
    <h3>Authorized accounts</h3>
      <ul>
        <% @user.authorizations.each do |acct| %>
          <li><%= acct.provider.capitalize + ": " + acct.name %></li>
        <% end %>
      </ul>
  <% end %>
<% end %>

<% if current_user == @user %>
  <%= subscribe_to "/messages/#{@user.id}" %>
<% end %>