<h1><%= @user.email %></h1>
<% if @twitter.uid.nil? or @twitter.uid == "" %>
  <p>You have not yet linked a Twitter account</p>
<% else %>
  <% @tweets_text.each do |tweet| %>
    <p><%= tweet %></p>
  <% end %>
<% end %>

<%= "asdf" if current_user == @user %>

<%= link_to "Edit user", edit_user_registration_path(@user) %>

<h3>Authorized accounts</h3>
<ul>
  <% unless @twitter.nil? %>
    <li>Twitter: <%= @twitter.uid %></li>
  <% end %>
</ul>