<h1><%= @user.email %></h1>
<% if @user.authorizations.empty? && @user == current_user %>
  <div class="col-md-12">
    No linked accounts
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">No linked accounts</h4>
          </div>
          <div class="modal-body">
            Link an account to start using OkayFeed.<br><br>
            <div class="text-center">
              <%= link_to "Authorize with Twitter", "/auth/twitter", class: "btn btn-default btn-lg" %>
              <br><br>
              <%= link_to "Authorize with Facebook", "/auth/facebook", class: "btn btn-default btn-lg" %>
              <br><br>
              <%= link_to "Authorize with Flickr", "/auth/flickr", class: "btn btn-default btn-lg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="col-md-4">
    <div id="publish_notice" style="display: none;" class="alert alert-warning center-block">
      <a href="#" class="alert-link publish_notice_notification_link">
      </a>
    </div>
    <script type="text/javascript">
      $(function() {
        $('.publish_notice_notification_link').click(function() {
          $('#publish_notice').slideDown(500);
          $('#publish_notice').hide();
        return false;
        });
      });
    </script>
    <%= form_for @user, remote: true, url: publish_user_path(current_user), method: :post, html: { multipart: true, name: "publish_form" } do |f| %>
      <div class="form-group">
        <%= text_area_tag :content, nil, class: "form-control" %>
      </div>
      <% if @twitter %>
        <div class="checkbox">
            <%= check_box_tag 'provider[]', 'twitter', false, class: 'twitter_checkbox', data: {toggled: "false"} %>
            <%= label_tag 'twitter' %>
        </div>
      <% end %>
      <% if @facebook %>
        <div class="checkbox">
            <%= check_box_tag 'provider[]', 'facebook' %>
            <%= label_tag 'facebook' %>
        </div>
      <% end %>
      <% if @flickr %>
        <div class="checkbox">
            <%= check_box_tag 'provider[]', 'flickr', false, class: 'flickr_checkbox', data: {toggled: "false"} %>
            <%= label_tag 'flickr' %>
        </div>
      <% end %>
      <div id="max_char_notifier" style="display: none;">
        You have <strong id="count"></strong> characters remaining
      </div>
      <div class="btn btn-default btn-file">
        <%= label_tag 'image', 'Include image' %>
        <%= file_field_tag 'image' %>
      </div>
      <br><br>
      <%= f.submit "Publish", class: "btn btn-default", id: "publish" %><br><br>
    <% end %>
    <script type="text/javascript">
      var maxCharacters = 104;

      $('.twitter_checkbox').click(function() {
        if ($(".twitter_checkbox[data-toggled='false']").length) {
          $('.twitter_checkbox').attr('data-toggled', true);
          if ($(".flickr_checkbox[data-toggled='false']").length) {
            maxCharacters = 140;
            $('#count').text(maxCharacters - ($('textarea').val().length));
          };
        }
        else {
          $('.twitter_checkbox').attr('data-toggled', false);
          maxCharacters = 104;
          $('#count').text(maxCharacters - ($('textarea').val().length));
        };

        if ($(".twitter_checkbox[data-toggled='true']").length || $(".flickr_checkbox[data-toggled='true']").length) {
          $('#max_char_notifier').show();
          if ($('textarea').val().length > maxCharacters) {
            $("input[type=submit]").attr("disabled", "true");
          };
        }
        else {
          $('#max_char_notifier').hide();
          $("input[type=submit]").removeAttr("disabled");
        };
      });

      $('.flickr_checkbox').click(function() {
        if ($(".flickr_checkbox[data-toggled='false']").length) {
          $('.flickr_checkbox').attr('data-toggled', true);
          maxCharacters = 104;
          $('#count').text(maxCharacters - ($('textarea').val().length));
          if ($('#count').text() < 0) {
            $('#count').addClass('over');
          };
        }
        else {
          $('.flickr_checkbox').attr('data-toggled', false);
          maxCharacters = 140;
          $('#count').text(maxCharacters - ($('textarea').val().length));
          if ($('#count').text() >= 0) {
            $('#count').removeClass('over');
            $("input[type=submit]").removeAttr("disabled");
          };
        };
        if ($(".twitter_checkbox[data-toggled='true']").length || $(".flickr_checkbox[data-toggled='true']").length) {
          $('#max_char_notifier').show();
          if ($('textarea').val().length > maxCharacters) {
            $("input[type=submit]").attr("disabled", "true");
          };
        }
        else {
          $('#max_char_notifier').hide();
          $("input[type=submit]").removeAttr("disabled");
        };
      });

      $('#count').text(maxCharacters);
      $('textarea').on('keyup keydown', function() {
        var count = $('#count');
        var characters = $(this).val().length;
        if (characters > maxCharacters) {
          count.addClass('over');
          $("input[type=submit]").attr("disabled", "true");
        }
        else {
          count.removeClass('over');
          $("input[type=submit]").removeAttr("disabled");
        };
        count.text(maxCharacters - characters);
      });
    </script>
  </div>

  <div class="col-md-8">
    <div id="new_posts_notification" style="display:none;" class="alert alert-info center-block">
      <a href="#" class="alert-link new_post_notification_link">
        Okay! <span id="new_posts_message"><span id="new_posts_count">0</span></span>.
      </a>
    </div>
    <script type="text/javascript">
       $(function() {
           $('.new_post_notification_link').click(function() {
               $('.new_post').slideDown(500);
               $('#new_posts_notification').hide();
               $('#new_posts_count').text('0');
               return false;
           });
       });
    </script>

    <%= render partial: 'posts', object: @posts %>

  </div>
  <script type="text/javascript">
    $(document).ready(function () {
          setInterval(function() {
              $.ajax({
                url: "/users/<%= @user.id%>/background_refresh",
                type: "POST"
              })
            }, 20000);

        });
  </script>
<% end %>

<% if current_user == @user %>
  <% if @user.authorizations.any? %>
    <h3>Authorized accounts</h3>
      <ul>
        <% @user.authorizations.each do |acct| %>
          <li><%= acct.provider.capitalize + ": " + acct.name %></li>
        <% end %>
      </ul>
  <% end %>
<% end %>

<% if current_user == @user %>
  <%= subscribe_to "/messages/#{@user.id}" %>
<% end %>