<h1><%= @user.email %></h1>
<% if @user.authorizations.empty? && @user == current_user %>
  <p>You have not yet linked any accounts. Click "Edit user" to do so now.</p>
<% else %>
  <%= form_for @user, url: publish_user_path(current_user), method: :post, class: "form" do |f| %>
    <div class="form-group">
      <%= text_area_tag :content, nil, class: "form-control" %>
    </div>
    <%= f.submit "Publish", class: "btn btn-default" %>
  <% end %>
  <% if @tweets.any? %>
    <% @tweets.each do |tweet| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= link_to "http://www.twitter.com/#{tweet.user.screen_name}" do %>
              <%= image_tag tweet.user.profile_image_url, style: "float: left; padding-right: 10px;" %>
              <strong><%= tweet.user.screen_name %></strong><br>
              <%= "@" + tweet.user.name %>
            <% end %>
          </div>
          <div class="panel-body">
            <%= tweet.text %>
          </div>
        </div>
    <% end %>
  <% end %>
<% end %>

<% if current_user == @user %>
  <%= link_to "Edit user", edit_user_registration_path(@user) %>

  <% if @user.authorizations.any? %>
    <h3>Authorized accounts</h3>
      <ul>
      <% @user.authorizations.each do |acct| %>
        <% unless @twitter.nil? %>
          <li><%= acct.provider.capitalize + ": " + acct.name %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
