<h1><%= @user.email %></h1>
<% if @user.authorizations.empty? && @user == current_user %>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">No linked accounts</h4>
          </div>
          <div class="modal-body">
            You have not yet linked any accounts. Please link one now to use OkayFeed.<br>
            <%= link_to "Authorize with Twitter", "/auth/twitter", class: "btn btn-default" %><br>
            <%= link_to "Authorize with Facebook", "/auth/facebook", class: "btn btn-default" %>
          </div>
        </div>
      </div>
  </div>
<% else %>
  <%= form_for @user, url: publish_user_path(current_user), method: :post, :html => { :multipart => true }, class: "form" do |f| %>
    <div class="form-group">
      <%= text_area_tag :content, nil, class: "form-control" %>
    </div>
    <% if @twitter %>
      <div class="checkbox">
          <%= check_box_tag 'provider[]', 'twitter' %>
          <%= label_tag 'twitter' %>
      </div>
    <% end %>
    <% if @facebook %>
      <div class="checkbox">
          <%= check_box_tag 'provider[]', 'facebook' %>
          <%= label_tag 'facebook' %>
      </div>
      <div class="btn btn-default btn-file">
        <%= label_tag 'image', 'Choose file' %>
        <%= file_field_tag 'image' %>
      </div><br>
    <% end %>
    <%= f.submit "Publish", class: "btn btn-default" %>
  <% end %>

  <% unless @feed_items.empty? %>
    <% @feed_items.each do |item| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to item[:user_url] do %>
            <%= image_tag item[:user_image_url], style: "float: left; padding-right: 10px;" %>
            <strong><%= item[:user_screen_name] %></strong><br>
            <% if item[:user_name].nil? %>
              <i class="fa fa-<%= item[:provider] %> pull-right"></i>
              <br>
            <% else %>
              <%= "@" + item[:user_name] %> <i class="fa fa-<%= item[:provider] %> pull-right"></i>
            <% end %>
          <% end %>
        </div>
        <div class="panel-body">
          <%= item[:text] %><br>
          <% unless item[:picture_url].nil? %>
            <%= image_tag item[:picture_url] %><br>
          <% end %>
          <br>
          <%= link_to item[:url] do %>
            <% if item[:created_at] > Time.now.beginning_of_day %>
                <%= "#{time_ago_in_words(item[:created_at])} ago" %>
            <% else %>
                <%= item[:created_at].strftime("%b %d") %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if current_user == @user %>
  <%= link_to "Edit user", edit_user_registration_path(@user) %>

  <% if @user.authorizations.any? %>
    <h3>Authorized accounts</h3>
      <ul>
        <% @user.authorizations.each do |acct| %>
          <li><%= acct.provider.capitalize + ": " + acct.name %></li>
        <% end %>
      </ul>
  <% end %>
<% end %>


